<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936988244821-5d3k9scvdlqvhsael64is4tiv4n9al5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936988244821-5d3k9scvdlqvhsael64is4tiv4n9al5l</string>
	<key>API_KEY</key>
	<string>AIzaSyCwUH8OEaSRm_GERtn0XzFW4GyGVQ2AwFU</string>
	<key>GCM_SENDER_ID</key>
	<string>936988244821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NewWaveComputers.PartyologyII</string>
	<key>PROJECT_ID</key>
	<string>partyologyii</string>
	<key>STORAGE_BUCKET</key>
	<string>partyologyii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936988244821:ios:9764bd1b3ef3b1daa14ddc</string>
	<key>DATABASE_URL</key>
	<string>https://partyologyii.firebaseio.com</string>
</dict>
</plist>